/** 
 * outdatedbrowser - 过时的浏览器，更新浏览器。
 * version 0.0.1 
 * author kenny wang <wowohoo@qq.com> (http://JSLite.io)  
**/
body,
html,
.outdatedbrowser i.icon {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.outdatedbrowser {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: auto;
  text-align: center;
}
.outdatedbrowser a {
  border: 1px solid #fff;
}
.outdatedbrowser .browser {
  text-decoration: blink;
  padding: 30px 0 30px 0;
  display: inline-block;
  width: 230px;
  overflow: hidden;
  vertical-align: middle;
  background: #e6e6e6;
  margin: 0 5px 0 5px;
}
.outdatedbrowser .btn {
  padding: 7px 19px;
  border-radius: 5px;
  background: #007a09;
  color: #fff;
}
.outdatedbrowser h2,
.outdatedbrowser h4,
.outdatedbrowser p {
  display: block;
  color: #333;
  font-size: 18px;
$block
}
.outdatedbrowser p span {
  font-size: 12px;
  padding: 0 5px 0 5px;
}
.outdatedbrowser h1 {
  position: absolute;
  display: block;
  width: 100%;
  padding-top: 20px;
  color: #046d00;
}
.outdatedbrowser .split {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.outdatedbrowser i.icon {
  display: block;
  position: relative;
  width: 89px;
  height: 89px;
  margin: 0 auto 35px;
  background: transparent url("browsers-bg.png") no-repeat;
}
.outdatedbrowser a:hover .btn {
  text-decoration: underline;
}
.outdatedbrowser .chrome i.icon {
  background-position: -6px -6px;
}
.outdatedbrowser .firefox i.icon {
  background-position: -105px -6px;
}
.outdatedbrowser .internetExplorer i.icon {
  background-position: -206px -6px;
}
.outdatedbrowser .safari i.icon {
  background-position: -306px -6px;
}
.outdatedbrowser .opera i.icon {
  background-position: -406px -6px;
}
.outdatedbrowser .chrome:hover i.icon {
  background-position: -6px -108px;
}
.outdatedbrowser .firefox:hover i.icon {
  background-position: -105px -108px;
}
.outdatedbrowser .internetExplorer:hover i.icon {
  background-position: -206px -108px;
}
.outdatedbrowser .safari:hover i.icon {
  background-position: -306px -108px;
}
.outdatedbrowser .opera:hover i.icon {
  background-position: -406px -108px;
}
